@import "tailwindcss";

/* globals.css */
:root {
  --bg: #ffffff;
  --fg: #121212;
  --accent: #355c45;
  --accent-soft: #eafbee;
  --line: #e2e8e4;
  --lg: #f7f7f7;
}

.dark {
  --bg: #0c130e;
  --fg: #f2f7f3;
  --accent: #4ade80;
  --accent-soft: #14231a;
  --line: #223026;
  --gold: #c8a75a;
}

@theme inline {
  --font-sans: var(--font-display);
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-display), sans-serif;
}

/* Utilities */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
  }
}
